__pycache__/byte_tracker_args.cpython-310.pyc
__pycache__/colors.cpython-310.pyc
__pycache__/common_imports.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/frame_count.cpython-310.pyc
__pycache__/detection_utility.cpython-310.pyc
__pycache__/geometry_utilities.cpython-310.pyc
__pycache__/get_train_data.cpython-310.pyc
__pycache__/jersey_classifier_kmeans.cpython-310.pyc
__pycache__/pass_counter.cpython-310.pyc
__pycache__/jersey_classifier_hsv.cpython-310.pyc
__pycache__/player_in_possession.cpython-310.pyc
__pycache__/possession_calc.cpython-310.pyc
__pycache__/possession_maker.cpython-310.pyc
model/best.pt
__pycache__/text_annotator.cpython-310.pyc
ByteTrack
