Werkzeug==2.2.3
configparser==6.0.0
numpy>=1.23.0
opencv-python==4.8.1.78
tqdm==4.65.0
onemetric==0.1.2
Cython
cython-bbox
onnxruntime==1.16.1
loguru==0.7.2
fastapi
torch
torchvision
scikit-learn
python-dotenv
